* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  font-size: 62.5%;
}

body {
  font-family: "Gabarito", sans-serif;
}

button,
select {
  font-family: inherit;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100rem;
  margin: 0 auto;
  margin-top: 1rem;
}

/* ////////////////////////////////////////////////////////// */

.club-detail {
  display: none;
  font-size: 1.2rem;
  color: #ddd;
  background-color: #333;
  border: 2px solid #333;
  padding: 0.2rem 0.4rem;
  transition: all 0.3s;

  position: absolute;
}

.div-logo,
.selection {
  width: 100rem;
}

.div-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0;
  border: 3px solid #333;
  border-radius: 10px 10px 0 0;
}

.logo {
  cursor: pointer;
  width: 10%;
}

.selection,
.table-selection,
.table-header,
.league-phase-selection,
.top-scorers-header,
.matches-header {
  border: solid #333;
  border-top: none;
}

.top-scorers-header,
.top-scorers-body {
  cursor: default;
}

.table-selection,
.table-header,
.league-phase-selection,
.top-scorers-header,
.matches-header {
  margin-top: 0;
}

.selection-list,
.table-selection-list,
.league-phase-list {
  list-style: none;
  display: flex;
}

.selection-item,
.table-selection-item,
.league-phase-item {
  display: flex;
  border-right: 3px solid #333;
}

.selection-item:last-child {
  margin-left: auto;
  border-left: 3px solid #333;
  border-right: none;
}

.selection-btn,
.select-season,
.table-selection-btn {
  padding: 0.8rem 1.2rem;
  font-size: 2.4rem;
  cursor: pointer;
  transition: all 0.3s;
}

.selection-btn {
  background-color: #c2e1fd;
}

.selection-btn:hover {
  background-color: #b2d2ee;
}

.selection-btn:active {
  background-color: #ccc;
}

.selection-btn,
.table-selection-btn,
.league-phase-btn {
  border: none;
}

.selection-btn-active {
  background-color: #9cc3e9;
}

.selection-btn-active:hover {
  background-color: #9cc3e9;
}

.table-selection-btn {
  background-color: #f8fdad;
  font-size: 1.6rem;
}

.table-selection-btn:hover {
  background-color: #eaf09d;
}

.table-selection-btn:active {
  background-color: #f0d374;
}

.table-selection-btn-active {
  background-color: #e6ec90;
}

.table-selection-btn-active:hover {
  background-color: #e6ec90;
}

.select-season {
  background-color: #eee;
}

.select-season:focus,
.select-gameweek:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.table {
  display: grid;
}

.league-phase-btn {
  font-size: 1.6rem;
  background-color: #b7ffd3;
  padding: 0.8rem 0.8rem;
  transition: all 0.3s;
  cursor: pointer;
}

.league-phase-btn:hover {
  background-color: #a4eec1;
}

.league-phase-btn-active {
  background-color: #73ce96;
}

.league-phase-btn-active:hover {
  background-color: #73ce96;
}

.table-row,
.top-scorers-row,
.matches-row {
  border: 3px solid #333;
  height: 2.5rem;
  color: #111;
  background-color: #f8f8f8;
}

.table-header,
.table-row,
.top-scorers-header,
.top-scorers-row,
.matches-header,
.matches-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4.4rem;
  font-size: 1.6rem;
  padding: 0 1.6rem;
  border-bottom: none;
  border-top: none;
  box-shadow: inset 0px -1px 0px #ccc;
}

.table-header,
.top-scorers-header {
  height: 2.5rem;
}

.table-header-p,
.top-scorers-header-p,
.table-p,
.top-scorers-p {
  display: flex;
  justify-content: center;
  width: 2.2rem;
}

.table-header-p {
  cursor: pointer;
}

.table-header-p-clicked {
  border-bottom: 1px solid #333;
}

.table-header-p:nth-child(2),
.table-p:nth-child(2),
.top-scorers-header-p:nth-child(2),
.top-scorers-p:nth-child(2),
.matches-p:nth-child(3) {
  width: 22rem;
  justify-content: flex-start;
}

.table-header-p:nth-child(2),
.top-scorers-header-p:nth-child(2),
.top-scorers-header-p:nth-child(3) {
  padding-left: 0.25rem;
}

.top-scorers-header-p:nth-child(3),
.top-scorers-p:nth-child(3) {
  width: 22rem;
  justify-content: flex-start;
}

.top-scorers-header-p:nth-child(4),
.top-scorers-p:nth-child(4),
.matches-p:nth-child(4) {
  margin-left: auto;
}

.top-scorers-header-p:last-child,
.top-scorers-p:last-child {
  margin-right: 1.6rem;
}

.table-header-p:nth-child(3),
.table-p:nth-child(3) {
  margin-left: auto;
}

.table-header-p:nth-child(10),
.table-p:nth-child(10) {
  margin-left: auto;
  margin-right: 5rem;
  cursor: default;
}

.table,
.top-scorers-body {
  display: grid;
  grid-auto-rows: 2.5rem;
  margin-bottom: 3rem;
}

.table-row:last-child,
.top-scorers-row:last-child,
.matches-row:last-child {
  border-bottom: 3px solid #333;
  box-shadow: none;
}

.club-position {
  cursor: default;
  border-radius: 5px;
  width: 2.4rem;
  color: #333;
}

.club-position-blue,
.club-position-brown,
.club-position-yellow,
.club-position-red,
.club-championship-blue {
  color: #ddd;
}

.club-position-blue,
.club-championship-blue {
  background-color: #004682;
}

.club-position-brown {
  background-color: #331e25;
}

.club-position-yellow {
  background-color: #b8860b;
}

.club-position-red {
  background-color: #bd0000;
}

.club-team,
.top-scorers-club {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  width: 20rem;
}

.club-logo,
.top-scorers-logo,
.matches-logo {
  height: 2rem;
}

.club-last-five {
  list-style: none;
  display: flex;
  gap: 0.4rem;
}

.club-last-five-p {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 5px;
}

.club-last-five-w {
  background-color: #00a83f;
}

.club-last-five-l {
  background-color: #dc0000;
}

.club-last-five-d {
  background-color: #f3a000;
}

.matches-header {
  height: 3.5rem;
}

.gameweek {
  display: flex;
  gap: 3rem;
  font-size: 2rem;
}

.arrow {
  width: 2rem;
  cursor: pointer;
}

.select-gameweek {
  font-size: 2rem;
  border: none;
  color: #111;
  background-color: #eee;
  border-radius: 5px;
  padding: 0 0.8rem;
  text-align: center;
}

.matches-container {
  position: relative;
}

.matches-row {
  height: 5.6rem;
  padding: 0 2.4rem;
  cursor: pointer;
  /* justify-content: flex-start; */
}

.matches-row-blank {
  height: 2.4rem;
  background-color: #e9e9e9;
}

.matches-date {
  width: 8rem;
}

.matches-date,
.matches-time {
  display: flex;
  align-items: center;
  justify-content: center;
}

.matches-time {
  width: 5rem;
}

.matches-team {
  display: flex;
  gap: 0.8rem;
}

.matches-name,
.matches-result {
  color: #222;
}

.matches-result {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.matches-first-match,
.matches-penalty {
  margin-left: -3rem;
}

.matches-first-match {
  color: #888;
}

.matches-team:first-child,
.result:first-child {
  margin-bottom: 0.4rem;
}

.winner {
  font-weight: 700;
  color: #000;
}

.fixture-container {
  position: absolute;
  top: 5%;
  transform: translate(15%, 0%);
  width: 80rem;
  color: #333;
  background-color: #fcfcfc;
  box-shadow: 0px 0px 10px #777;
  z-index: 10;
}

.x-icon {
  position: absolute;
  width: 2.4rem;
  top: 0.5%;
  right: 0.5%;
  cursor: pointer;
  transition: all 0.3s;
}

.x-icon:hover {
  transform: scale(110%);
}

.fixture-teams {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 2rem 0;
}

.fixture-teams,
.fixture-filter,
.fixture-details {
  border-bottom: 1px solid #aaa;
}

.fixture-date {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 1.6rem;
}

.fixture-team {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
  font-size: 1.6rem;
}

.fixture-logo {
  width: 40%;
  padding: 1.6rem;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.fixture-team-div {
  position: relative;
  display: flex;
  gap: 0.4rem;
  align-items: center;
  justify-content: center;
}

.icon-wrapper {
  position: relative;
  display: flex;
}

.going-through-icon {
  width: 1.6rem;
  height: 1.6rem;
  border: 1px solid #aaa;
  padding: 0.2rem;
  border-radius: 5px;
}

.going-through-detail {
  display: none;
  position: absolute;
  top: 100%;
  left: 90%;
  transform: translateX(-50%);
  background-color: #fff;
  padding: 0.2rem 0.6rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  white-space: nowrap;
  font-size: 1.2rem;
  z-index: 10;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
}

.icon-wrapper:hover .going-through-detail {
  display: block;
}

.fixture-result {
  text-align: center;
  font-size: 4.4rem;
  font-weight: 700;
  color: #111;
  align-self: center;
}

.fixture-first-game {
  font-size: 1.2rem;
  grid-column: 2 / 3;
  text-align: center;
  background-color: #e7e7e7;
  color: #333;
  padding: 0.8rem;
  border-radius: 5px;
}

.fixture-filter {
  gap: 1.6rem;
}

.fixture-filter,
.fixture-details {
  display: flex;
  font-size: 1.6rem;
  padding: 0 0.8rem;
  margin-bottom: 1.2rem;
}

.fixture-filter-p {
  cursor: pointer;
  padding: 0.8rem 0;
}

.fixture-filter-p-active {
  color: #ffa600;
  border-bottom: 3px solid #ffa600;
}

.fixture-details {
  gap: 1.2rem;
  padding-bottom: 1.2rem;
  margin-bottom: 0;
}

.fixture-details-p {
  cursor: pointer;
  padding: 0.4rem 0.8rem;
  background-color: #ddd;
  color: #333;
  border-radius: 10px;
}

.fixture-details-p-active {
  background-color: #ffa600;
  color: #fff;
}

.first-half-header,
.second-half-header,
.first-extra-half-header,
.second-extra-half-header,
.penalty-shootout-header,
.formations-header,
.starting-xi-header,
.substitutes-header,
.managers-header {
  display: flex;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.4rem 1.6rem;
  margin-bottom: 1.2rem;
  background-color: #e4e4e4;
  color: #555;
  justify-content: center;
  align-items: center;
}

.first-half-header-p:last-child,
.second-half-header-p:last-child,
.first-extra-half-header-p:last-child,
.second-extra-half-header-p:last-child,
.penalty-shootout-header-p:last-child {
  margin-left: auto;
}

.details {
  margin-bottom: 1.2rem;
  padding: 0 0.8rem;
}

.detail {
  display: flex;
  gap: 0.8rem;
  font-size: 1.2rem;
  font-weight: 700;
  align-items: center;
  margin-bottom: 0.8rem;
}

.away-detail {
  flex-direction: row-reverse;
  justify-self: flex-end;
}

.details-icon {
  width: 2rem;
  height: 2rem;
  border: 1px solid #999;
  border-radius: 3px;
  padding: 0.2rem;
}

.yellow-card {
  fill: #ffcd00;
}

.red-card {
  fill: #dc0000;
}

.own-goal,
.missed-penalty {
  stroke: #e02020;
}

.assist,
.substitute-out,
.penalty,
.comment,
.var {
  color: #999;
}

.statistics-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.6rem;
}

.statistics-chart {
  display: flex;
  align-items: center;
}

.statistics-bar-container {
  display: flex;
  height: 1rem;
  width: 30rem;
  background-color: #e6e6e6;
  border-radius: 10px;
  overflow: hidden;
}

.statistics-home {
  margin-right: 2rem;
}

.statistics-away {
  margin-left: 2rem;
}

.statistics-home-div,
.statistics-away-div {
  height: 100%;
}

.statistics-home-div {
  background-color: #2df77a;
  /* width: 60%; */
}

.statistics-away-div {
  background-color: #167fdb;
  /* width: 40%; */
}

.formations-header {
  justify-content: space-between;
}

.formations-field-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.formations-field {
  display: flex;
  width: 57.5rem;
  height: 36rem;
  background-image: url("https://cstringer.github.io/football-formation-creator/static/media/pitch.38e87773.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.formations-home,
.formations-away {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* gap: 2rem; */
  height: 100%;
  width: 50%;
}

.formations-column-3 {
  gap: 5.6rem;
}

.formations-column-4 {
  gap: 3.6rem;
}

.formations-column-5 {
  gap: 2rem;
}

.formations-away {
  flex-direction: row-reverse;
}

.formations-column {
  display: flex;
  flex-direction: column;
  gap: 4.4rem;
  transform: translate(0, -5%);
}

.formations-column-home:first-child {
  margin-left: 2.4rem;
}

.formations-column-away:first-child {
  margin-right: 2.4rem;
}

.formations-player {
  color: #000;
  width: 3.6rem;
  height: 3.6rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.jersey-wrapper {
  position: relative;
}

.formations-player-number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2rem;
  font-weight: bold;
}

.formations-player-name {
  position: relative;
  top: -0.75rem;
  padding: 0 0.2rem;
  background-color: #999;
  font-size: 1.2rem;
  color: #111;
  border-radius: 5px;
  white-space: nowrap;
}

.jersey {
  width: 100%;
  /* fill: red;
  stroke: #f3a000; */
}

.starting-xi-header,
.substitutes-header,
.managers-header {
  margin-bottom: 0;
}

.starting-xi-div,
.substitutes-div,
.managers-div {
  display: flex;
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 0.6rem;
}

.starting-xi-home,
.starting-xi-away,
.substitutes-home,
.substitutes-away {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.lineup-away {
  justify-self: flex-end;
}

.lineup-player {
  display: flex;
  gap: 0.8rem;
  padding: 0 0.8rem;
  height: 3rem;
}

.lineup-player:nth-child(even) {
  background-color: #e7e7e7;
  width: 100%;
}

.lineup-player-away {
  flex-direction: row-reverse;
}

.lineup-number,
.lineup-p {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0.8rem;
}

.lineup-p {
  justify-content: flex-start;
  white-space: nowrap;
}

.lineup-player-away .lineup-p {
  justify-content: flex-end;
}

.managers-div {
  padding: 0 0.8rem;
}

.manager-p {
  display: flex;
  align-items: center;
  height: 2.4rem;
}

.manager-p:last-child {
  margin-left: auto;
}

.hidden {
  display: none;
}

.hideArrow {
  visibility: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
