* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  font-size: 62.5%;
}

body {
  font-family: "Gabarito", sans-serif;
}

button,
select {
  font-family: inherit;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100rem;
  margin: 0 auto;
  margin-top: 1rem;
}

/* ////////////////////////////////////////////////////////// */

.club-detail {
  display: none;
  font-size: 1.2rem;
  color: #ddd;
  background-color: #333;
  border: 2px solid #333;
  padding: 0.2rem 0.4rem;
  transition: all 0.3s;

  position: absolute;
}

.div-logo,
.selection {
  width: 100rem;
}

.div-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0;
  border: 3px solid #333;
  border-radius: 10px 10px 0 0;
}

.logo {
  cursor: pointer;
  width: 10%;
}

.selection,
.table-selection,
.table-header,
.league-phase-selection,
.top-scorers-header,
.matches-header {
  border: solid #333;
  border-top: none;
}

.top-scorers-header,
.top-scorers-body {
  cursor: default;
}

.table-selection,
.table-header,
.league-phase-selection,
.top-scorers-header,
.matches-header {
  margin-top: 0;
}

.selection-list,
.table-selection-list,
.league-phase-list {
  list-style: none;
  display: flex;
}

.selection-item,
.table-selection-item,
.league-phase-item {
  display: flex;
  border-right: 3px solid #333;
}

.selection-item:last-child {
  margin-left: auto;
  border-left: 3px solid #333;
  border-right: none;
}

.selection-btn,
.select-season,
.table-selection-btn {
  padding: 0.8rem 1.2rem;
  font-size: 2.4rem;
  cursor: pointer;
  transition: all 0.3s;
}

.selection-btn {
  background-color: #c2e1fd;
}

.selection-btn:hover {
  background-color: #b2d2ee;
}

.selection-btn:active {
  background-color: #ccc;
}

.selection-btn,
.table-selection-btn,
.league-phase-btn {
  border: none;
}

.selection-btn-active {
  background-color: #9cc3e9;
}

.selection-btn-active:hover {
  background-color: #9cc3e9;
}

.table-selection-btn {
  background-color: #f8fdad;
  font-size: 1.6rem;
}

.table-selection-btn:hover {
  background-color: #eaf09d;
}

.table-selection-btn:active {
  background-color: #f0d374;
}

.table-selection-btn-active {
  background-color: #e6ec90;
}

.table-selection-btn-active:hover {
  background-color: #e6ec90;
}

.select-season {
  background-color: #eee;
}

.select-season:focus,
.select-gameweek:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.table {
  display: grid;
}

.league-phase-btn {
  font-size: 1.6rem;
  background-color: #b7ffd3;
  padding: 0.8rem 0.8rem;
  transition: all 0.3s;
  cursor: pointer;
}

.league-phase-btn:hover {
  background-color: #a4eec1;
}

.league-phase-btn-active {
  background-color: #73ce96;
}

.league-phase-btn-active:hover {
  background-color: #73ce96;
}

.table-row,
.top-scorers-row,
.matches-row {
  border: 3px solid #333;
  height: 2.5rem;
  color: #111;
  background-color: #f8f8f8;
}

.table-header,
.table-row,
.top-scorers-header,
.top-scorers-row,
.matches-header,
.matches-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4.4rem;
  font-size: 1.6rem;
  padding: 0 1.6rem;
  border-bottom: none;
  border-top: none;
  box-shadow: inset 0px -1px 0px #ccc;
}

.table-header,
.top-scorers-header {
  height: 2.5rem;
}

.table-header-p,
.top-scorers-header-p,
.table-p,
.top-scorers-p {
  display: flex;
  justify-content: center;
  width: 2.2rem;
}

.table-header-p {
  cursor: pointer;
}

.table-header-p-clicked {
  border-bottom: 1px solid #333;
}

.table-header-p:nth-child(2),
.table-p:nth-child(2),
.top-scorers-header-p:nth-child(2),
.top-scorers-p:nth-child(2),
.matches-p:nth-child(3) {
  width: 22rem;
  justify-content: flex-start;
}

.table-header-p:nth-child(2),
.top-scorers-header-p:nth-child(2),
.top-scorers-header-p:nth-child(3) {
  padding-left: 0.25rem;
}

.top-scorers-header-p:nth-child(3),
.top-scorers-p:nth-child(3) {
  width: 22rem;
  justify-content: flex-start;
}

.top-scorers-header-p:nth-child(4),
.top-scorers-p:nth-child(4),
.matches-p:nth-child(4) {
  margin-left: auto;
}

.top-scorers-header-p:last-child,
.top-scorers-p:last-child {
  margin-right: 1.6rem;
}

.table-header-p:nth-child(3),
.table-p:nth-child(3) {
  margin-left: auto;
}

.table-header-p:nth-child(10),
.table-p:nth-child(10) {
  margin-left: auto;
  margin-right: 5rem;
  cursor: default;
}

.table,
.top-scorers-body {
  display: grid;
  grid-auto-rows: 2.5rem;
  margin-bottom: 3rem;
}

.table-row:last-child,
.top-scorers-row:last-child,
.matches-row:last-child {
  border-bottom: 3px solid #333;
  box-shadow: none;
}

.club-position {
  cursor: default;
  border-radius: 5px;
  width: 2.4rem;
  color: #333;
}

.club-position-blue,
.club-position-brown,
.club-position-yellow,
.club-position-red,
.club-championship-blue {
  color: #ddd;
}

.club-position-blue,
.club-championship-blue {
  background-color: #004682;
}

.club-position-brown {
  background-color: #331e25;
}

.club-position-yellow {
  background-color: #b8860b;
}

.club-position-red {
  background-color: #bd0000;
}

.club-team,
.top-scorers-club {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  width: 20rem;
}

.club-logo,
.top-scorers-logo,
.matches-logo {
  height: 2rem;
}

.club-last-five {
  list-style: none;
  display: flex;
  gap: 0.4rem;
}

.club-last-five-p {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 5px;
}

.club-last-five-w {
  background-color: #00a83f;
}

.club-last-five-l {
  background-color: #dc0000;
}

.club-last-five-d {
  background-color: #f3a000;
}

.matches-header {
  height: 3.5rem;
}

.gameweek {
  display: flex;
  gap: 3rem;
  font-size: 2rem;
}

.arrow {
  width: 2rem;
  cursor: pointer;
}

.select-gameweek {
  font-size: 2rem;
  border: none;
  color: #111;
  background-color: #eee;
  border-radius: 5px;
  padding: 0 0.8rem;
  text-align: center;
}

.matches-row {
  height: 5.6rem;
  padding: 0 2.4rem;
  /* justify-content: flex-start; */
}

.matches-date {
  width: 8rem;
}

.matches-date,
.matches-time {
  display: flex;
  align-items: center;
  justify-content: center;
}

.matches-time {
  width: 5rem;
}

.matches-team {
  display: flex;
  gap: 0.8rem;
}

.matches-name,
.matches-result {
  color: #222;
}

.matches-result {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.matches-team:first-child,
.result:first-child {
  margin-bottom: 0.4rem;
}

.winner {
  font-weight: 700;
  color: #000;
}

.hidden {
  display: none;
}

.hideArrow {
  visibility: hidden;
}
