* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  font-size: 62.5%;
}

body {
  font-family: "Gabarito", sans-serif;
}

button,
select {
  font-family: inherit;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100rem;
  margin: 0 auto;
  margin-top: 1rem;
}

/* ////////////////////////////////////////////////////////// */

.club-detail {
  display: none;
  font-size: 1.2rem;
  color: #ddd;
  background-color: #333;
  border: 2px solid #333;
  padding: 0.2rem 0.4rem;
  transition: all 0.3s;

  position: absolute;
}

.div-logo,
.selection {
  width: 100rem;
}

.div-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0;
  border: 3px solid #333;
  border-radius: 10px 10px 0 0;
}

.logo {
  cursor: pointer;
  width: 10%;
}

.selection,
.table-selection,
.table-header {
  border: solid #333;
  border-top: none;
}

.table-selection,
.table-header {
  margin-top: 0;
}

.selection-list,
.table-selection-list {
  list-style: none;
  display: flex;
}

.selection-item,
.table-selection-item {
  display: flex;
  border-right: 3px solid #333;
}

.selection-item:last-child {
  margin-left: auto;
  border-left: 3px solid #333;
  border-right: none;
}

.selection-btn,
.select-season,
.table-selection-btn {
  padding: 0.8rem 1.2rem;
  font-size: 2.4rem;
  cursor: pointer;
  transition: all 0.3s;
}

.selection-btn:hover {
  background-color: #ccc;
}

.selection-btn:active {
  background-color: #ccc;
}

.selection-btn,
.table-selection-btn {
  border: none;
}

.selection-btn-active {
  background-color: #c0e1ff;
}

.table-selection-btn {
  background-color: #ffe58f;
  font-size: 1.6rem;
}

.table-selection-btn:hover {
  background-color: #f0d374;
}

.table-selection-btn:active {
  background-color: #f0d374;
}

.table-selection-btn-active {
  background-color: #f7b894;
}

.table-selection-btn-active:hover {
  background-color: #f7b894;
}

.select-season {
  background-color: #eee;
}

.table {
  display: grid;
}

.table-row {
  border: 3px solid #333;
}

.table-header,
.table-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4.4rem;
  font-size: 1.6rem;
  padding: 0 1.6rem;
  border-bottom: none;
  border-top: none;
  box-shadow: inset 0px -1px 0px #ccc;
}

.table-header {
  height: 2.5rem;
}

.table-header-p,
.table-p {
  display: flex;
  justify-content: center;
  width: 2.2rem;
}

.table-header-p {
  cursor: pointer;
}

.table-header-p-clicked {
  border-bottom: 1px solid #333;
}

.table-header-p:nth-child(2),
.table-p:nth-child(2) {
  width: 20rem;
  justify-content: flex-start;
}

.table-header-p:nth-child(3),
.table-p:nth-child(3) {
  margin-left: auto;
}

.table-header-p:nth-child(10),
.table-p:nth-child(10) {
  margin-left: auto;
  margin-right: 5rem;
  cursor: default;
}

.table-body {
  display: grid;
  grid-auto-rows: 2.5rem;
  margin-bottom: 3rem;
}

.table-row:last-child {
  border-bottom: 3px solid #333;
  box-shadow: none;
}

.club-position {
  cursor: default;
  border-radius: 5px;
  width: 2.4rem;
  color: #333;
}

.club-position-blue,
.club-position-brown,
.club-position-yellow,
.club-position-red {
  color: #ddd;
}

.club-position-blue {
  background-color: #004682;
}

.club-position-brown {
  background-color: #331e25;
}

.club-position-yellow {
  background-color: #b8860b;
}

.club-position-red {
  background-color: #bd0000;
}

.club-team {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  width: 20rem;
}

.club-logo {
  height: 2rem;
}

.club-last-five {
  list-style: none;
  display: flex;
  gap: 0.4rem;
}

.club-last-five-p {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 5px;
}

.club-last-five-w {
  background-color: #00a83f;
}

.club-last-five-l {
  background-color: #dc0000;
}

.club-last-five-d {
  background-color: #f3a000;
}
